/* ==UserStyle==
@name           YouTweaks
@namespace      sussy impostor
@version        1.2.34
@description    A userstyle to make You more Yours.
@author         sussyimpostor
@homepageURL    https://codeberg.org/sussyimpostor/you-tweaks
@supportURL     https://codeberg.org/sussyimpostor/you-tweaks/issues
@updateURL      https://codeberg.org/sussyimpostor/you-tweaks/raw/branch/main/you.user.css
@preprocessor   stylus
@license        MIT

@advanced checkbox ads-homepage "🧹🏠 Clean the homepage" 1
@advanced checkbox clean-results "🧹🔍 Clean the results page" 1
@advanced checkbox clean-topbar "🧹🔝 Clean the top bar" 1
@advanced checkbox app-list-homepage "📱❌ Hide You.com app list at the top on homepage" 1
@advanced checkbox footer-crap "📩❌ Hide newsletter on footer" 1
@advanced checkbox like-dislike "👍👎 Hide like/dislike in search results" 1
@advanced checkbox user-dropdown-menu "🔍❌ Hide 'Make default' in user dropdown" 1
@advanced checkbox fake-autocomplete "🔍❌ Hide useless search suggestions" 1
@advanced checkbox gradient-header "🌈 Gradient background on header" 0
@advanced checkbox nice-results "🔍🎨 Make results look more consistent and nice" 1
@advanced checkbox compact-results "🤏 Make results more compact" 0
@advanced checkbox full-width-results "🔍🖥️ Full width results for images, videos and news" 0
@advanced checkbox private-theme "🎨 Make Private Mode use the same background color as Personal Mode" 0
@advanced checkbox top-search "🔍👆 Search bar at the top" 1
@advanced checkbox youpro "🛑 Hide 'YouPro' elements" 1
@advanced checkbox youchat-ads "🛑 Hide YouChat ads" 1

==/UserStyle== */
@-moz-document domain("you.com") {
    if fake-autocomplete {
        [data-testid="autocomplete-list"] {
            display: none;
        }
        [data-testid="search-input"] {
            border-radius: 20px !important;
        }
    }
    if footer-crap {

        .ctNdIH, .laXqNc, .WUjrA:last-child, .btfYhm:last-child {
            display: none;
        }
    }

    if like-dislike {
        div[data-testid="header-preference-container"] {
            display: none;
        }
    }

    if clean-results {

        div[data-app-ydcappname="search_on"] #shortcuts-app,
        .gKSvip,
        .lacKuB,
        .hFysRL {
            display: none;
        }
    }

    if clean-topbar {

        .juyUba,
        .ciTNYS,
        .hUxCUR,
        button[data-testid="log-in-button"],
        button[data-testid="sign-up-button"],
        a[data-eventtiletitle="Join discord"],
        a[data-eventtiletitle="Add to Chrome Button"] a[data-eventtiletitle="Add to Firefox Button"],
        div[data-testid="extension-button"],
        [href="https://about.you.com/youpro-header "] {
            display: none;
        }
        .borKqg {
            visibility: hidden;
            user-select: none;
        }
    }

    if private-theme {
        .sc-987f65d2-2.dnZMgk.sc-93ce7b26-1.bkhkFl {
            content: url(https://cdn.you.com/img/shared/logos/ydc-logo-lightdarkmode.svg);
        }

        html, body, #__next, .fnpNDC, .eaEDuE, #header, .jWnVVS, .irZALF, .jTHJEJ, .BLdPG, #chatHistory, [data-testid="youchat-actions-container"], [data-testid="YouChat-app"] > * {
            background-color: #202024;
        }
        .lcntrV {
            background: linear-gradient(270deg, rgb(32, 32, 36) 51.92%, rgba(32, 32, 36, 0) 100%);
        }
        .obExI {
            background: linear-gradient(90deg, rgb(32, 32, 36) 51.92%, rgba(32, 32, 36, 0) 100%);
        }
    }

    if user-dropdown-menu {
        li[data-testid="make-default"] {
            display: none;
        }

        ul[data-testid="user-dropdown-items"] {
            padding-top: 0;
        }
    }

    if nice-results {
        [data-testid="What to Watch-app"] > ul > li {
            width: 760px;
        }
        #search-input-textarea {
            overflow-y: scroll;
        }

        .gKSebc[orientation="right"]:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: -16px;
            left: -63px;
            right: 0;
            width: 78px;
            height: 54px;
            bottom: 0;
            background: linear-gradient(270deg, rgba(49, 49, 53, 1) 1%, rgba(255, 255, 255, 0) 100%);
            overflow: visible;
        }

        .kxXkkf[orientation="left"]:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: -16px;
            left: -5px;
            right: 0;
            width: 78px;
            height: 54px;
            bottom: 0;
            background: linear-gradient(90deg, rgba(49, 49, 53, 1) 1%, rgba(255, 255, 255, 0) 100%);
            overflow: visible;
        }

        .gA-DQGw[orientation="right"]:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: -16px;
            left: -63px;
            right: 0;
            width: 78px;
            height: 54px;
            bottom: 0;
            background: linear-gradient(270deg, rgb(255, 255, 255) 1%, rgba(255, 255, 255, 0) 100%);
            overflow: visible;
        }

        .hbGMwv[orientation="left"]:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: -16px;
            left: -5px;
            right: 0;
            width: 78px;
            height: 54px;
            bottom: 0;
            background: linear-gradient(90deg, rgb(255, 255, 255) 1%, rgba(255, 255, 255, 0) 100%);
            overflow: visible;
        }

        ul[data-testid="tab-list"] div div button:after,
        .gHQzZZ {
            background: transparent !important;
        }

        .dkPkyi,
        .lDqOt,
        .bFyglJ .rcp,
        .dEkLhY,
        .jrfgzH,
        .hFMVKh .rcp,
        .ilawEf {
            width: 100% !important;
        }

        li[width="grid tile extra large"] {
            width: 100%;
        }

        .ljhshb span {
            color: rgb(102, 138, 255);
        }

        .gZwUXv span {
            color: rgb(74, 114, 245);
        }

        .biZOwB {
            max-width: 510px;
        }

        .fYcyJZ .sc-8ead9a6f-2,
        .hnMtZo a,
        .fXSKnR a div .dhDRlj {
            color: rgb(102, 138, 255);
        }

        .hxcbYy {
            max-width: 525px;
        }

        li[width="grid tile extra large"] {
            padding: 1rem;
        }

        .iSkGct,
        .dfQdzU {
            margin: -6px 1rem 0.75rem 1.5rem;
        }

        .hCHCQi,
        .duuZXA {
            font-size: 14px;
        }

        .dkPkyi,
        .dEkLhY {
            cursor: default;
        }

        div[data-testid="people-also-ask-questions-list"] div:first-child div div p {
            padding: 0px 0px 0.25rem;
        }

        div[data-testid="people-also-ask-questions-list"] div:last-child div div span {
            margin: 0;
        }
    }

    if youpro {

        a[href="/plans"],
        .iHvCr,
        .eIxBuO,
        [href="https://about.you.com/youpro-header "],
        a[data-testid="upsell-badge"] {
            display: none;
        }
    }
}

@-moz-document url("https://you.com/"),
url("https://you.com/social"),
url("https://you.com/study"),
url("https://you.com/code") {
    if ads-homepage {

        .gdBswA, .blpnYK, [aria-label="Scroll to next section"], [data-testid="landing-page-value-props-section"], [data-testid="landing-page-content-creation-section"], [data-testid="landing-page-get-youpro-section"], [data-testid="landing-page-testimonials-section"], [data-testid="landing-page-privacy-section"], [data-testid="landing-page-life-hacks-section"], [data-testid="landing-page-bottom-query-section"] {
            display: none;
        }
        .fPzjwv {
            justify-content: center;
        }
        .hXQWzO {
            flex: 0.4 1 0%;
        }
    }

    if app-list-homepage {
        div[data-testid="LandingPage-AppButtons"] {
            display: none;
        }
    }
}

@-moz-document url-prefix("https://you.com/search") {
    if compact-results {
        [data-testid="app-mainline"] ul[data-testid="web-results"] {
            margin-bottom: 0;

            >li {
                padding: .4rem;

                >div>img {
                    display: none;
                }
            }
        }

        div[data-type="app"] {
            padding: 0;
            margin: 0;

            >*:first-child {
                margin-bottom: 0;
            }
        }
    }

    if gradient-header {
        #header:after {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            background-image: url('https://i.imgur.com/b99s9fh.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            z-index: -1;
        }
    }

    if top-search {
        #header {
            z-index: 1003;
            height: 6.5rem;
        }
        [data-testid="qb_submit_button"] {
            margin-bottom: 0.75rem;
        }
        [data-testid="qb_submit_button"]:after {
            content: " ";
            background-image: url(https://cdn.you.com/img/images/icons/icon-search-white.svg);
            background-size: 14px;
            display: inline-block;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 17px;
            margin-left: 5px;
        }
        [data-testid="qb_submit_button"] svg path {
            display: none;
        }

        div[data-testid="bottom-bar"] {
            width: 37rem;
            padding: 1rem 0px;
            backdrop-filter: none;
            background: transparent;
            z-index: 1004;
            bottom: auto;
            top: 0.5rem;
            left: 14rem;
            border: none;
            padding: 0;
            min-height: 60px;
            box-shadow: none;
        }
        
        div[data-testid="bottom-bar"] > div > div {
            border-radius: 999px;
            min-height: 2.5rem;
        }
        .bIerZj,
        div[data-testid="bottom-bar"] a[href="/chat"] {
            display: none;
        }

        .cTaLOA,
        .ljuvCk {
            border-radius: 24px 24px 0px 0px;
        }

        .bMOHMg,
        .jVZJJU,
        .hsiQUG {
            border-radius: 0px 0px 24px 24px;
            bottom: auto;
            top: 102%;
        }

        #header nav {
            top: 2.5rem;
        }

        @media screen and (max-width: 1024px) {
            div[data-testid="bottom-bar"] {
                width: 100%;
                padding: 0px 8px 0px 8px;
                background: none;
                top: -5.5rem;
                position: absolute;
                left: 0;
                z-index: 1004;
            }

            main {
                overflow: visible !important;
            }

            #header nav {
                margin-top: 2.8rem;
            }

            .gfUBLd,
            .ceChFA {
                height: 8.8rem;
            }

            #header {
                height: 9.5rem;
            }

            .fWRFck .bhhgoP {
                padding-top: 4rem;
                background: #202024;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 8px;
            }

            .KTxbH .bhhgoP {
                padding-top: 4rem;
                background: #ffffff;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 8px;
            }

            .gfaLlX .bhhgoP {
                padding-top: 4rem;
                background: #242526;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 8px;
            }
        }
    }

    if clean-results {

        .dnZjCu,
        .cLEhrv {
            display: none;
        }
    }

    if youchat-ads {
        div[data-testid="youchat-ads"]:has(.nXqFE) {
            display: none;
        }
    }
}

@-moz-document regexp("[(http(s)?):\\/\\/?you.com\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)&tbm=vid"),
regexp("[(http(s)?):\\/\\/?you.com\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)&tbm=isch"),
regexp("[(http(s)?):\\/\\/?you.com\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)&tbm=nws") {
    if full-width-results {
        .cJeEEC {
            max-width: 28rem;
        }

        #section>*:first-child {
            display: none;
        }

        .bBTZUu {
            padding: 0.75rem 1.5rem 0px 1.5rem;
        }
    }
}

@-moz-document regexp("[(http(s)?):\\/\\/?you.com\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)&tbm=youchat([-a-zA-Z0-9@:%_\\+.~#?&//=]*)") {
    if top-search {
        #header {
            height: auto;
        }

        #header nav {
            top: auto;
        }

        div[data-testid="bottom-bar"] {
            width: 100vw;
            background-color: rgb(32, 32, 36);
            z-index: 998;
            padding: 0px 1rem 1rem;
            position: fixed;
            bottom: 0px;
            left: 0px;
            top: auto;
        }
        
        [data-testid="qb_submit_button"] {
            margin-bottom: 1rem;
        }
        
        [data-testid="qb_submit_button"]:after {
            display: none;
        }
        
        [data-testid="qb_submit_button"] svg path {
            display: inherit;
        }
        
        div[data-testid="bottom-bar"] > div > div {
            border-radius: 16px;
            min-height: 3.5rem;
        }

        .jZcvFU {
            border-top: 1px solid rgb(24, 24, 24) !important;
            background-color: rgba(60, 60, 62, 0.6) !important;
        }

        .dagHdK {
            border-top: 1px solid rgb(228, 228, 228) !important;
            background-color: rgba(225, 225, 225, 0.6) !important;
        }

        @media screen and (max-width: 1024px) {
            #header nav {
                margin-top: auto;
            }

            .gfUBLd {
                height: auto;
            }

            div[data-testid="bottom-bar"] {
                box-shadow: rgba(0, 0, 0, 0.25) 0px -2px 1.25rem 0px;
            }
        }
    }
}